<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <style>

        body {
            background-color: #282c34;
            color: #fff;
        }

        .navbar {
            background-blend-mode: multiply;
            background-color: transparent;;
        }


        .navbar a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <a href="/">About</a>
        <a href = "/blog">Blog</a>
    </div>

    <!-- Content here -->
    <div>{{ content }}</div>

</body>

</html>